In [1]:
import seaborn as sns

In [2]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [40]:
dfwines= pd.read_csv("winemag-data_first150k.csv",encoding='utf8')

In [34]:
dfwines.head()

,Unnamed: 0,country,points,price,province,region_1,region_2,variety,winery
0,0,US,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [15]:
dfwines.shape

(150930, 11)

In [17]:
dfwines.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [19]:
dfwines.dtypes

Unnamed: 0       int64
country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

In [21]:
dfwines.isnull().sum()

Unnamed: 0         0
country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64

In [58]:
dfwines2=dfwines.drop(['description', 'designation', 'Unnamed: 0', 'region_2'], axis=1, inplace = False)

Se eliminan estas columas por que no me sirven para analizar los datos

In [59]:
dfwines2.head()

,country,points,price,province,region_1,variety,winery
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz
1,Spain,96,110.0,Northern Spain,Toro,Tinta de Toro,Bodega Carmen Rodríguez
2,US,96,90.0,California,Knights Valley,Sauvignon Blanc,Macauley
3,US,96,65.0,Oregon,Willamette Valley,Pinot Noir,Ponzi
4,France,95,66.0,Provence,Bandol,Provence red blend,Domaine de la Bégude

In [60]:
dfwines2.country.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

Se ven los paises que hay en la base de datos para ver con cuales se puede trabajar

In [ ]:
FranciaVSvariedad = dfwines2.loc[dfwines2.country == 'France'].variety
EspañaVSvariedad= dfwines2.loc[dfwines2.country == 'Spain'].variety

In [61]:
Esp= dfwines2[dfwines2['country']=='Spain']
Fran=dfwines2[dfwines2['country']=='France']

Se guardan todos los tipos de vino de los paises con los que se quiere trabajar en una variable.

In [64]:
FranciaVSregion1 = dfwines2.loc[dfwines2.country == 'France'].region_1
#clase_1_vs_fecha = data_frame.loc[data_frame.Nombre_columna == 'Clase_1'].Fecha

Se guardan las regiones del país con el que se quiere trabajar.

In [65]:
FranciaVSregion1

4                                      Bandol
13                                    Madiran
18                                     Cahors
33                               Vin Mousseux
36                        Châteauneuf-du-Pape
44                                     Cornas
51                       Chassagne-Montrachet
52                                   Sancerre
53                        Coteaux du Giennois
56                                   Sancerre
63                                    Chablis
66                                    Chablis
76                                  Champagne
86                                    Chablis
95                                     Cahors
98                                      Buzet
99                          Côtes de Gascogne
117                                   Gaillac
118                                       NaN
139       Coteaux du Languedoc Pic Saint Loup
140                             Bordeaux Rosé
156                                    Cahors
174                            Côtes du Rhône
191                                    Graves
192                                Haut-Médoc
193                             Saint-Estèphe
194                                   Fronsac
195                                Haut-Médoc
202                                     Médoc
203                                Haut-Médoc
                         ...
150721                                 Cahors
150725                         Côtes du Rhône
150730                         Bordeaux Blanc
150731                          Saint-Émilion
150735                      Côtes de Provence
150736                 Montagne-Saint-Émilion
150739                               Bergerac
150747                               Bordeaux
150748                                 Graves
150752                      Côtes de Provence
150756                         Bordeaux Blanc
150759                               Bordeaux
150760                               Bergerac
150761                                  Fitou
150906                          Vosne-Romanée
150907                          Vosne-Romanée
150908                          Vosne-Romanée
150909                      Nuits-St.-Georges
150910                      Chambolle-Musigny
150911                      Nuits-St.-Georges
150912                      Chambolle-Musigny
150913                    Châteauneuf-du-Pape
150917                              Champagne
150918                              Champagne
150919                              Champagne
150921                              Champagne
150923                              Champagne
150924                              Champagne
150926                              Champagne
150928                              Champagne
Name: region_1, Length: 21098, dtype: object